{
  "host": "127.0.0.1",
  "neouname": "nexus",
  "neopword": "neopassword",
  "neoaddress": "127.0.0.1",
  "pguname": "nexus",
  "pgpword": "nexuspassword",
  "pgaddress": "127.0.0.1",
  "pgport": 5432,
  "port": "4001",
  "resttoken": "restpassword"
}